<!DOCTYPE html>
<html>
<head>
    <title>AltBrasov SPA</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/adiStyle.css" rel="stylesheet">
</head>
<body>
    <div id="content">
    </div>
    <div id="details">
    </div>

<!--Template echipa -->
    <script type="text/template" id="team-template">
      <td><%= name %></td>
      <td><img src='<%= path %>'/></td>
    </script>

<!-- Template colectie de echipe-->
    <script type="text/template" id="teams-template">
        <thead>
            <tr class='header'>
                <th>Name</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </script>

<!--Template detaliu -->
    <script type="text/template" id="detail-template">
      <td><%= id %></td>
      <td><%= name %></td>
      <td><%= getDescription() %></td>
      <td><%= aProperty %></td>

    </script>

<!-- Template colectie de detalii-->
    <script type="text/template" id="all-details-template">
        <thead>
            <tr class='header'>
                <th>User Id</th>
                <th>User Name</th>
                <th>User Description</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </script>

    <!-- Vendor -->    
        <script src="vendor/jQuery-1.11.1.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
        <script src="vendor/underscore-1.7.0.js"></script>
        <script src="vendor/backbone-1.1.2.js"></script>
        <script src="vendor/backbone.marionette.js"></script>
    <!-- main, modele, view-uri -->
        <script src="main.js"></script>

        <script src="js/models.js"></script>
        <script src="js/views.js"></script>
        <script src="js/staticData.js"></script>

</body>
</html>
