<!DOCTYPE html>
<html>
<head>
    <title>AltBrasov SPA</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/adiStyle.css" rel="stylesheet">
</head>
<body>
    <div id="content">
    </div>
    <div id="details">
    </div>
    <div id="node">
    </div>
<!--Template echipa -->
    <script type="text/template" id="team-template">
        <td>
            <span class="teamName btn-link"><%= name %></span>
        </td>
        <td><img src='<%= path %>'/></td>
    </script>

<!-- Template colectie de echipe-->
    <script type="text/template" id="teams-template">
        <thead>
            <tr class='header'>
                <th>Name</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </script>

<!--Template detaliu -->
    <script type="text/template" id="detail-template">
      <td><%= id %></td>
      <td><%= name %></td>
      <td><%= getDescription() %></td>
      <td><%= aProperty %></td>

    </script>

<!-- Template colectie de detalii-->
    <script type="text/template" id="all-details-template">
        <thead>
            <tr class='header'>
                <th>User Id</th>
                <th>User Name</th>
                <th>User Description</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </script>

<!-- Template detaliu echipa-->
    <script type="text/template" id="team-layout">
        <div id="teamContent">
        </div>
    </script>

    <script type="text/template" id="team-item">
        <div class="col-md-12">
            <input id="goBack" type="button" class="btn btn-primary" value="Go Home"/>
        </div>
        <h2 class="bg-success col-md-6">User Id: <%= id %></h2>
        <h2 class="bg-danger col-md-6">Nume echipa: <%= name %></h2>
        <div class="bg-primary col-md-12 text-center"><img src='<%= path %>'/></div>
        <p class="col-md-12 text-center"><%= description %></p>
    </script>


    <script type="text/template" id="nodejs-layout">
        <div class="bg-primary"><%= id %></div>
        <div class="bg-danger"><%= description %></div>
        <div class="bg-success"><%= nrSuporters %></div>
    </script>

    <!-- Vendor -->    
        <script src="vendor/jQuery-1.11.1.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
        <script src="vendor/underscore-1.7.0.js"></script>
        <script src="vendor/backbone-1.1.2.js"></script>
        <script src="vendor/backbone.marionette.js"></script>
    <!-- main, modele, view-uri -->
        <script src="main.js"></script>

        <script src="js/controller.js"></script>
        <script src="js/router.js"></script>        

        <script src="js/models.js"></script>
        <script src="js/views.js"></script>
        <script src="js/staticData.js"></script>

</body>
</html>
